<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">

       <div class="logo-text" *ngIf="collapsed" @fadeInOut>Elephant Bet</div>
       <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidernav()">
        <i class="fal fa-times clase-icon"></i>
       </button>
       <button class="logo" (click)="toggleCollapse()">A</button>
    </div>
    <ul class="sidenav-nav">
          <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a [routerLink]="[data.routerlink]" class="sidenav-nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}"
            >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed"> {{ data.label}}</span>
            </a>
          </li>
    </ul>
</div>
